---
let date = new Date();
// como darle formato a la fecha
let formatDate = date.toLocaleDateString('es-ES', {
	weekday: 'long',
	year: 'numeric',
	month: 'long',
	day: 'numeric',
	hour: 'numeric',
	minute: 'numeric',
	second: 'numeric',
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>morenodev page</title>
  </head>
  <body class="construccion">
    <p>Esta en construcción {formatDate}</p>
  </body>
</html>

<style>
  .construccion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: monospace;
  }
</style>
