---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>morenodev page</title>
	</head>
	<body class="construccion">
		<p>Esta en construcción</p>
	</body>
</html>

<style>
	.construccion {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		flex-direction: column;
		font-family: monospace;
	}
</style>
